<template>
    <div>
        <span class="sq-status-badge">
            <span>2</span>
            남은횟수
        </span>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="sq-ending-thumb-box">
            <div class="in-thumb"><img src="/images/security.png" alt="임시이미지" /></div>
            <div class="in-text">Ending.No1</div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="sq-ballon">
            안녕하세요!ㅁㅁ
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
