<template>
    <div>{{ subin }}</div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            subin: params.subin
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.subin)
    },
    data() {
        return {
            subin: null
        }
    }
}
</script>
